
@{
    ViewData["Title"] = "Login";
}

    <div class="row">
        <div class="col-md-6 m-auto">
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password">
                </div>
                <div class="form-group">
                    <label class="form-check-label"><input type="checkbox" name="RememberMe"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
